@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    --main-color:#151618;
    --second-color:#182536;
    --text-color:#f7f7f7;
    --important-color:#3192d6;
    --textContract-color:#000000;
    --fs-xl: 5rem;
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 0.8rem;
}
p{
    margin: 0;
    color: var(--text-color);
}
::-webkit-scrollbar{
    width: 0px;
}
html,body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: var(--main-color);
    font-family: 'Prompt', sans-serif;
}
section{
    width: 100%;
    height: 100vh;
}

#Title{
    position: relative;
    padding-top: 10%;
    padding-left: 5%;
    margin: 0%;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    font-size:var(--fs-500); 
}


.Name{
    color: var(--important-color);
    letter-spacing: 5px;
    font-size: var(--fs-xl);
}
.Short_About{
    text-transform: none;
    
}



.btn{
    position: relative;
    top: 10px;
    text-decoration: none;
    background-color: var(--important-color);
    font-size: 25px;
    color: var(--text-color);
    padding: 5px 5px;
    transition: letter-spacing 0.5s;
}
.btn:hover{
    letter-spacing: 5px;
}
img{
    position: absolute;
    padding-left:65%;
}


#AboutMe,#Contact{
    background-color: var(--second-color);
}
.AboutMe_Profile p{
    font-size: var(--fs-700);
}




.AboutMe_Profile{
    padding-top: 50px;
    font-family: 'Prompt', sans-serif;
    padding-left: 5%;
    font-size: 30px;
    font-weight: bold;
}

.work_Image{
    width: 250px;
}















ul li{
    color: var(--text-color);
}


/* 410 */
@media screen and (min-width:1817px){
    img{
        width: 500px;
    }
    .Title{
        font-size: 4rem;
    }
    .Name{
        font-size: 12rem;
    }
    .btn{
        font-size: 35px; 
    }
    .Short_About{
        font-size: 4rem;
    }
    .AboutMe_Profile p{
        font-size: 3.5rem;
    }
}
@media screen and (min-width:1341px){
    #Title{
        padding-top: 7%;
    }
    img{
        width: 300px;
    }
    .Title{
        font-size: 2.5rem;
    }
    .Name{
        font-size: 7rem;
    }
    .Short_About{
        font-size: 2rem;
    }
    .AboutMe_Profile p{
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 1301px){
    img{
        padding-left: 60%;
    }
    .AboutMe_Profile p{
        font-size: var(--fs-600);
    }
    
}
@media screen and (max-width: 1088px){
    img{
        padding-left: 55%;
    }  
}
@media screen and (max-width:881px){
    img{
        padding-left: 50%;
        width: 250px;
    }
    .AboutMe_Profile p{
        font-size: var(--fs-500);
    }
}
@media screen and (max-width:830px){
    img{
        padding-left: 55%;
        /* width: 250px; */
    }
}
@media screen and (max-width:734px) {
    img{
        padding-left: 65%;
        width: 200px;
    }
    .work_Title{
        font-size: 30px;
    }
    
    
}
@media screen and (max-width:622px){
    img{
        display: none;
        
    }
    
}
@media screen and (max-width:462px) {
    #Title{
        font-size: 15px;
    }
    .Name{
        font-size: 60px;
    }
    .work_Title{
        font-size: 20px;
    }
}
.no-responsive{
    visibility: hidden;
    
}
@media screen and (max-width:337px) {
    .no-responsive{
        position: absolute;
        background-color: aliceblue;
        visibility: visible;
        z-index: 3;
        width: 1000%;
        height: 1000%;
    }
}
/* .container{
    position: relative;
    width: 200px;
    height: 200px;
    display: inline-block;
}
.image{
    padding-left: 20%;
    display: block;
    width: 200px;
    height: 200px;
}
.image_overlay{
    margin-left: 20%;
    position: absolute;
    width: 200px;
    height: 200px;
    transition: all .3s ease;
    opacity: 0;
    background-color: #000000;
}
.image_title{
    color: var(--text-color);
    font-size: large;
    position: absolute;
    top: 40%;
    margin-left: 12px;
}

.container:hover .image_overlay{
    opacity: 1;

} */