@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    --main-color:#151618;
    --second-color:#182536;
    --text-color:#f7f7f7;
    --important-color:#3192d6;
    --textContract-color:#000000;
    --fs-xl: 5rem;
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 0.8rem;
}
p{
    margin: 0;
    color: var(--text-color);
}
::-webkit-scrollbar{
    width: 0px;
}
html,body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: var(--main-color);
    font-family: 'Prompt', sans-serif;
}
section{
    width: 100%;
    height: 100vh;
}
/* Title, Home */
#Title{
    position: relative;
    padding-top: 10%;
    padding-left: 5%;
    margin: 0%;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    font-size:var(--fs-500); 
}


.Name{
    color: var(--important-color);
    letter-spacing: 5px;
    font-size: var(--fs-xl);
}
.Short_About{
    text-transform: none;
    
}



.btn{
    position: relative;
    top: 10px;
    text-decoration: none;
    background-color: var(--important-color);
    font-size: 25px;
    color: var(--text-color);
    padding: 5px 5px;
    transition: letter-spacing 0.5s;
}
.btn:hover{
    letter-spacing: 5px;
}
.Home_Image,.Profile_Image{
    position: absolute;
    margin-left:65%;
    
}



/* Background Color section(About Me, Contact) */
#AboutMe,#Contact{
    background-color: var(--second-color);
}
.AboutMe_Profile p{
    font-size: var(--fs-700);
}




.AboutMe_Profile{
    padding-top: 50px;
    font-family: 'Prompt', sans-serif;
    padding-left: 5%;
    font-size: 30px;
    font-weight: bold;
}



/* Portfolio */
.PortfolioTitle{
    font-size: 3rem;
    text-align: center;
}

.container{
    position: relative;
    margin-left: 100px;
    width: 370px;
    height: 300px;
    display: inline-block;
}
.image{
    padding-left: 20%;
    display: block;
    width: 300px;
    height: 300px;
}
.image_overlay{
    margin-left: 20%;
    margin-top: -300px;
    position: absolute;
    width: 300px;
    height: 300px;
    transition: all .3s ease;
    opacity: 0;
    background-color: #000000;
}
.image_title a{
    color: var(--text-color);
    white-space: nowrap;
    font-size: 1.8rem;
    position: absolute;
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(-50%,-50%);
}

.container:hover .image_overlay{
    opacity: 1;
}



/* contact */
#Contact{
    height: 30vh;
}
.ContactZone{
    width: 100%;
    height: 17vh;
    display: flex;
    justify-content: center;

}
.Contact_Image{
    margin-top: 10px;
    margin-left: 15px;
    width: 10vh;
    height: 10vh;
    transition: all 0.5s;
}
.Contact_Image:hover{
    width: 15vh;
    height: 15vh;
}
.Contact_Description{
    width: 100%;
    height: 13vh;
    display: flex;
    justify-content: center;
}
.Contact_Description a{
    margin-top: 10px;
    text-decoration: none;
    margin-left: 50px;
    color: var(--text-color);
    font-size: 20px;
    transition: all 0.5s;
}
.Contact_Description a:hover{
    margin-top: 5px;
    font-size: 30px;
}




/* Responsive */
@media screen and (min-width:1817px){
    .Home_Image,.Profile_Image{
        width: 500px;
    }
    .Title{
        font-size: 4rem;
    }
    .Name{
        font-size: 12rem;
    }
    .btn{
        font-size: 35px; 
    }
    .Short_About{
        font-size: 4rem;
    }
    #Home{
        height: 80vh;
    }
    
    .AboutMe_Profile p{
        font-size: 3.5rem;
    }
}
@media screen and (max-width:1461px){
    .container{
        margin-left: 50px;
        width: 300px;
        height: 300px;
    }
    .image{
        width: 200px;
        height: 200px;
    }
    .image_overlay{
        width: 200px;
        height: 200px;
        margin-top: -200px;
    }
    .image_title a{
        font-size: 1.1rem;
    }
}
@media screen and (min-width:1341px){
    #Title{
        padding-top: 7%;
    }
    .Home_Image,.Profile_Image{
        width: 300px;
    }
    .Profile_Image{
        width: 250px;
        height: 250px;
    }
    .Title{
        font-size: 2.5rem;
    }
    .Name{
        font-size: 7rem;
    }
    .Short_About{
        font-size: 2rem;
    }
    .AboutMe_Profile p{
        font-size: 2.5rem;
    }
}





@media screen and (max-width: 1301px){
    .Home_Image,.Profile_Image{
        margin-left: 60%;
    }
    .AboutMe_Profile p{
        font-size: var(--fs-600);
    }
}
@media screen and (max-width: 1088px){
    .Home_Image,.Profile_Image{
        margin-left: 55%;
    }  
    .container{
        margin-left: 50px;
        width: 300px;
        height: 300px;
    }
    .image{
        width: 170px;
        height: 170px;
    }
    .image_overlay{
        width: 170px;
        height: 170px;
        margin-top: -170px;
    }
    .image_title a{
        font-size: 1.1rem;
    }
}
@media screen and (max-width:1064px) {
    #Portfolio{
        height: auto;
    }
    .container{
        margin-left: 100px;
        width: 300px;
        height: 300px;
    }
    .image{
        width: 250px;
        height: 250px;
    }
    .image_overlay{
        width: 250px;
        height: 250px;
        margin-top: -250px;
    }
   
}
@media screen and (max-width:881px){
    .Home_Image,.Profile_Image{
        margin-left: 50%;
        width: 250px;
    }
    .AboutMe_Profile p{
        font-size: var(--fs-500);
    }
}
@media screen and (max-width:830px){
    .Home_Image,.Profile_Image{
        margin-left: 55%;
    }
}
@media screen and (max-width:734px) {
    .Home_Image,.Profile_Image{
        margin-left: 65%;
        width: 150px;
    }
    .Contact_Image{
        margin-top: 50px;
        width: 5vh;
        height: 5vh;
    }
    .Contact_Description a{
        font-size: 15px;
    }
   
    
    
}
@media screen and (max-width:622px){
    .Home_Image,.Profile_Image{
        display: none;
        
    }
    
}
@media screen and (max-width:530px) {
    .Contact_Description{
        display: block;
    }
}

@media screen and (max-width:462px) {
    #Title{
        font-size: 15px;
    }
    .Name{
        font-size: 60px;
    }
    .btn{
        font-size: 20px;
    }
    #Home,#AboutMe{
        height: 80vh;
    }
    .container{
        margin-left: auto;
        width: 300px;
        height: 300px;
    }
    .image{
        width: 250px;
        height: 250px;
    }
    .image_overlay{
        width: 250px;
        height: 250px;
        margin-top: -250px;
    }
}

.no-responsive{
    visibility: hidden;
    
}
@media screen and (max-width:337px) {
    .no-responsive{
        position: absolute;
        font-size: 15rem;
        color: #000000;
        background-color: aliceblue;
        visibility: visible;
        z-index: 3;
        width: 1000%;
        height: 1000%;
    }
}

