:root{
    --main-color:#151618;
    --Home-color:#181a1b;
    --second-color:#182536;
    --text-color:#eaeaea;
    --important-color:#3192d6;
    --textContract-color:#000000;
}
p,h1{
    margin: 0;
    color: var(--text-color);
}
::-webkit-scrollbar{
    width: 0px;
}
html,body{
    margin: 0%;
    padding: 0%;
    background-color: var(--Home-color);
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family:monospace;
}
/* Settings layout and theme (all setting) */
section{
    width: 100%;
    height: 100vh;
}
.GameDev,.App_Dev{
    width: 95%;
    min-height: 100vh;
}
.heading{
    text-align: center;
    font-size: 3.5rem;
    font-weight: bold;
    padding-top: 25px;
}


#Video_GameDevelop,#Application,#Bot_Discord,#Website,#VSCode_Extensions{
    background-color: var(--second-color);
}
.Title{
    margin-top: 18%;
}

.Title p{
    position: relative;
    text-decoration:underline;
    text-align: center;
    white-space: nowrap;
    font-size: 5rem;
    color: var(--text-color);
}
.Menu{
    /* width: 100%; */
    display: flex;
    justify-content: center;
}
.Menu a{
    margin: 45px;
    font-size: 2rem;
    text-decoration: none;
    color: var(--text-color);
    transition: all .5s;
}
.Menu a:hover{
    color: var(--important-color);
    
    font-size: 2.5rem;
}


/* Video Game Dev */
#Video_GameDevelop{
    min-height: 185vh;
}



.Item{
    box-shadow: 8px 8px 10px 5px #000000;
    margin-top: 25px;
    padding: 30px 40px;
    margin-left: 5%;
    background-color: var(--main-color);
    width: 90%;
    height: auto;
}
.Topic{
    color: var(--important-color);
    font-size: 40px;
}
.The_Sections{
    text-decoration: underline;
    margin-bottom: 10px;
    font-size: 30px;
}
.description{
    font-size: 20px;
}

.ImageInDes{
    position: absolute;
    margin-top: 2.5%;
    margin-left: 65%;
    width: 250px;
    height: 250px;
}
.LinkInDes{
    color: var(--text-color);
    text-decoration: none;
    transition: all .2s;
}
.LinkInDes:hover{
    color: #3192d6;
    text-decoration: underline;
    cursor:pointer;
}

#Website{
    height: auto;
}


/* responsive */
@media screen and (max-width:1556px){
    .Menu a{
        margin-left: 25px;
        font-size: 2rem;
    }

}
@media screen and (max-width:1200px) {
    .Title p{
        font-size: 3.5rem;
        
    }
    .Menu a{
        margin-left: 5px;
        font-size:1.8rem;
        white-space: nowrap;

    }
    .Topic{
        font-size: 30px;
    }
    .The_Sections{
        font-size: 20px;
    }
    .description{
        font-size: 15px;
    }
    .ImageInDes{
        width: 200px;
        height: 200px;
        margin-left: 70%;
    }


}
@media screen and (max-width:1024px) {
    .Menu a{
        margin-left: 0px;
        font-size:1.5rem;

    }
    .Menu a:hover{
        font-size: 25px;
    }
    .ImageInDes{
        margin-left: 70%;
        width: 150px;
        height: 150px;
    }
}
#on-phone{
    height: 0%;
    visibility: hidden;
}
@media screen and (max-width:900px) {

    #on-phone{
        background-color: #000000;
        position: fixed;
        height: 100vh;
        z-index: 5;
        visibility: visible;
    }
    .On-Phone-btn{
        background-color: #000000;
        margin-top: 50px;
        color: var(--text-color);
        transform: translateX(-50%);
        margin-left: 50%;
        font-size: 30px;
    }
    #on-phone p{
        text-decoration:underline;
        text-align: center;
        white-space: nowrap;
        font-size: clamp(1.5rem, 5vw, 3rem); 
        color: var(--text-color);    
    }
    .Menu{
        display:flex;
        margin-left: 50%;
        transform: translatex(-20%);
        flex-direction: column;
    }
    .ImageInDes{
        display: none;
    }
    .Item{
        width: auto;
    }
}
@media screen and (max-width:600px){
    .Title p{
        font-size: 30px;
    }
}
@media screen and (max-width:430px) {
    .Title p{
        font-size: 25px;
    }
    
    .Menu{
        position: relative;
        margin-left: 40%;
        
    }

    .Topic{
        font-size: 20px;
    }
    .The_Sections{
        font-size: 15px;
    }
    .description{
        font-size: 10px;
    }

}




.no-responsive{
    visibility: hidden;
    
}
@media screen and (max-width:337px) {
    #on-phone{
        visibility: hidden;
    }
    .no-responsive{
        position: absolute;
        font-size: 4.5rem;
        color: #000000;
        background-color: aliceblue;
        visibility: visible;
        z-index: 3;
        width: 200%;
        height: 1000%;
    }
}